@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS or SCSS file */
:root {
	--Dark: #0a204a 100%;
	--Sunrise: radial-gradient(360deg, #ffc75f, #4988ff);
	--Sunrise-Degragee: linear-gradient(180deg, #edbc64 0%, #6495ed 100%);
}
